
<h1>Contact Us</h1>
<p>
  Please send all questions to 
  <a href="AlexeiRAP@gmail.com">autor</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>